script: rewrite.py
index: data/cryptosarf/crypto-snow.faiss
title: Криптовалюта как исламский финансовый инструмент
prompts:
  embed:
    window_size: 0
    max_samples: 20
    model: qwen3-embedding:8b
  rewrite:
    model: deepseek-r1:32b
    max_tokens: 32768
    template: |

      Перед тобой следующий черновик обзорной статьи, уже отредактированный от начала и до целевого раздела.

      {draft}
    
      Перепиши текст приведённого ниже раздела, сохранив объём текста.

      Раздел может использовать информацию из приведённых ниже отрывков исходных статей (до маркера <<ИНСТРУКЦИИ>>):

      {sources}

      <<ИНСТРУКЦИИ>>

      Нужно использовать информацию из приведённых выше отрывков исходных статей, но повторять предложения или фразы нельзя.
    
      Перепиши текст приведённого ниже раздела, сохранив объём текста.

      Замени в нём все китайские и английские слова на русские аналоги. Сделай текст более связным, сохранив смысл.

      Удали дубли по смыслу между разделами, каждый факт или мнение приведи в тексте только один раз.

      Обязательно сохрани номера ссылок из списка литературы в квадратных скобках в каждом разделе текста.

      Используй в каждом разделе те же самые сслыки (номера в квадратных скобках), которые даны в первоначальном тексте.

      Перепиши текст только одного приведённого ниже раздела, не включая в ответ какие-либо другие разделы.

      {paragraph}
